0 4 * * * /root/Installer-Automation/installer_bundle_scripts_sync.sh
0 10 * * * /root/Installer-Automation/installer_bundle_scripts_sync.sh
0 16 * * * /root/Installer-Automation/installer_bundle_scripts_sync.sh
0 22 * * * /root/Installer-Automation/installer_bundle_scripts_sync.sh
0 4 * * * /root/Installer-Automation/licensing_bundle_scripts_sync.sh
0 10 * * * /root/Installer-Automation/licensing_bundle_scripts_sync.sh
0 16 * * * /root/Installer-Automation/licensing_bundle_scripts_sync.sh
0 22 * * * /root/Installer-Automation/licensing_bundle_scripts_sync.sh
0 4 * * * /root/Installer-Automation/cert_manager_bundle_scripts_sync.sh
0 10 * * * /root/Installer-Automation/cert_manager_bundle_scripts_sync.sh
0 16 * * * /root/Installer-Automation/cert_manager_bundle_scripts_sync.sh
0 22 * * * /root/Installer-Automation/cert_manager_bundle_scripts_sync.sh
